{% extends "back/master.html" %}
{% load static %}

{% block backendblock %}
<!-- Page Wrapper -->
<div id="page-wrapper">
    
    <!-- Page Container -->
    <div id="page-container" class="sidebar-partial sidebar-visible-lg sidebar-no-animations">
        <!-- Main Sidebar -->
        <div id="sidebar">
            <!-- Wrapper for scrolling functionality -->
            <div id="sidebar-scroll">
                <!-- Sidebar Content -->
                <div class="sidebar-content">
                    
                    <!-- User Info -->
                    <div class="sidebar-section sidebar-user clearfix sidebar-nav-mini-hide">
                        <div class="sidebar-user-avatar">
                            <a href="page_ready_user_profile.html">
                                <img src="{% static 'back/img/placeholders/avatars/avatar2.jpg'%}" alt="avatar">
                            </a>
                        </div>
                        <div class="sidebar-user-name">AMir</div>
                        <div class="sidebar-user-links">
                            <a href="page_ready_user_profile.html" data-toggle="tooltip" data-placement="bottom" title="Profile"><i class="gi gi-user"></i></a>
                            <a href="page_ready_inbox.html" data-toggle="tooltip" data-placement="bottom" title="Messages"><i class="gi gi-envelope"></i></a>
                            <!-- Opens the user settings modal that can be found at the bottom of each page (page_footer.html in PHP version) -->
                            <a href="javascript:void(0)" class="enable-tooltip" data-placement="bottom" title="Settings" onclick="$('#modal-user-settings').modal('show');"><i class="gi gi-cogwheel"></i></a>
                            <a href="login.html" data-toggle="tooltip" data-placement="bottom" title="Logout"><i class="gi gi-exit"></i></a>
                        </div>
                    </div>
                    <!-- END User Info -->

                    <!-- Sidebar Navigation -->
                    <ul class="sidebar-nav">
                        <li>
                            <a href="{% url 'panel' %}" class=" active"><i 
                                class="gi gi-stopwatch sidebar-nav-icon"></i><span 
                                class="sidebar-nav-mini-hide">Dashboard</span>
                            </a>
                        </li>
                        <li class="sidebar-header">
                            <span class="sidebar-header-title">Site Settings</span>
                        </li>
                        <!-- Site Settings menu below -->
                        <li>
                            <a href="#" class="sidebar-nav-menu">
                                <i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
                                <i class="gi gi-show_big_thumbnails sidebar-nav-icon"></i>
                                <span class="sidebar-nav-mini-hide">News</span>
                            </a>
                            <ul>
                                <li>
                                    <a href="/panel/news/add/">Add News</a>
                                </li>
                                <li>
                                    <a href="/panel/news/list/">News List</a>
                                </li>
                            </ul>
                        </li>
                        <!-- Develop Kit -->
                      
                        <!-- Develop Menu below -->
                        <li>
                            <a href="#" class="sidebar-nav-menu">
                                <i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
                                <i class="gi gi-brush sidebar-nav-icon"></i>
                                <span class="sidebar-nav-mini-hide">User Settings</span>
                            </a>
                            <!-- User Settings drop down menu -->
                            <ul>
                                <li>
                                    <a href="#" class="sidebar-nav-submenu">
                                        <i class="fa fa-angle-left sidebar-nav-indicator">
                                        </i>Login, Register &amp; Lock
                                    </a>
                                    <!-- Login, Register drop down menu -->
                                    <ul>
                                        <li>
                                            <a href="login.html">Login</a>
                                        </li>
                                        <li>
                                            <a href="login.html#register">Register</a>
                                        </li>
                                        <li>
                                            <a href="page_ready_lock_screen.html">Lock Screen</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- END Sidebar Navigation -->
                </div>
                <!-- END Sidebar Content -->
            </div>
            <!-- END Wrapper for scrolling functionality -->
        </div>
        <!-- END Main Sidebar -->

        <!-- Main Container -->
        <div id="main-container">
            <!-- Header -->
            <header class="navbar navbar-default">
                <!-- Left Header Navigation -->
                <ul class="nav navbar-nav-custom">
                    <!-- Main Sidebar Toggle Button -->
                    <li>
                        <a href="javascript:void(0)" onclick="App.sidebar('toggle-sidebar');this.blur();">
                            <i class="fa fa-bars fa-fw"></i>
                        </a>
                    </li>
                    <!-- END Main Sidebar Toggle Button -->
                </ul>
                <!-- END Left Header Navigation -->

                <!-- Search Form -->
                <form action="page_ready_search_results.html" method="post" class="navbar-form-custom">
                    <div class="form-group">
                        <input type="text" id="top-search" name="top-search" class="form-control" placeholder="Search..">
                    </div>
                </form>
                <!-- END Search Form -->

                <!-- Right Header Navigation -->
                <ul class="nav navbar-nav-custom pull-right">
                    <!-- User Account Dropdown very important to work with later -->
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="{% static 'back/img/placeholders/avatars/avatar2.jpg'%}" alt="avatar"> <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-custom dropdown-menu-right">
                            <li class="dropdown-header text-center">Account</li>
                            <li class="divider"></li>
                            <li>
                                <a href="page_ready_user_profile.html">
                                    <i class="fa fa-user fa-fw pull-right"></i>
                                    Profile
                                </a>
                                <!-- Opens the user settings modal that can be found at the bottom of each page (page_footer.html in PHP version) -->
                                <a href="#modal-user-settings" data-toggle="modal">
                                    <i class="fa fa-cog fa-fw pull-right"></i>
                                    Settings
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="login.html"><i class="fa fa-ban fa-fw pull-right"></i> Logout</a>
                            </li>
                        </ul>
                    </li>
                    <!-- END User Dropdown -->
                </ul>
                <!-- END Right Header Navigation -->
            </header>
            <!-- END Header -->

            <!-- NewsPage content Where you can see all the Articles -->
            <div id="page-content">
                <!-- Page content -->
                <div id="page-content">
                    <!-- Datatables Header -->
                    <div class="content-header">
                        <div class="header-section">
                            <h1>
                                <i class="fa fa-table"></i>News Lists<br><small><span><a href="/panel/news/add/">Add</a></span>, Edit, and Delete data</small>
                            </h1>
                        </div>
                    </div>
                    <ul class="breadcrumb breadcrumb-top">
                        <li>News</li>
                        <li><a href="">List</a></li>
                    </ul>
                    <!-- END Datatables Header -->
                    <!-- Datatables Content -->
                    <div class="block full">
                        <div class="block-title">
                            <h2><strong>News</strong> Lists</h2>
                        </div>
                        <div class="table-responsive">
                            <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Title</th>
                                        <th>image</th>
                                        <th>Date</th>
                                        <th>Category</th>
                                        <th>Author</th>
                                        <th>Views</th>
                                        <th class="text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for art in articles %}
                                    <tr>
                                        <td class="text-center">{{ art.pk }}</td>
                                        <td>{{ art.title }}</td>
                                        <td><img style="display: inline-block;" src="{{ art.image_url }}" width="80" height="50"></td>
                                        <td>{{ art.time_stamp | date:"F d Y" }}</td>
                                        <td>{{ art.category }}</td>
                                        <td>{{ art.authur }}</td>
                                        <td>{{ art.views }}</td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" 
                                                class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>
                                                <a href="{% url 'article_delete' pk=art.pk %}" data-toggle="tooltip" title="Delete" 
                                                class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END Datatables Content -->
                </div>
                <!-- END Page Content -->
            </div>
            <!-- END Page Content -->

            <!-- Footer -->
            <footer class="clearfix">
                <div class="pull-right">
                    Crafted with <i class="fa fa-heart text-danger"></i> by <a href="https://github.com/codeasyb" target="_blank">CodeasyB</a>
                </div>
                <div class="pull-left">
                    <span id="year-copy"></span> &copy; <a href="https://github.com/codeasyb" target="_blank">Django</a>
                </div>
            </footer>
            <!-- END Footer -->
        </div>
        <!-- END Main Container -->
    </div>
    <!-- END Page Container -->
</div>
<!-- END Page Wrapper -->
{% endblock %}

{% block footerjsblock %}
<!-- Load and execute javascript code used only in this page -->
<script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
<script>$(function(){ TablesDatatables.init(); });</script>
{% endblock %}